@use "../utilities/variables" as v;
@use "../utilities/mixings" as m;


.text_footer1 {
    font-family: v.$fuente1, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    background-color: v.$color2;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-top: 20px;
    color: #ffffff;
}

.redes_footer1 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    .img_footer1 {
        width: 7vw;
        height: auto;
        padding: 10px;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}

@include m.mobile {
    .text_footer1 {
        font-size: 1.5rem;
    }

    .redes_footer1 {
        .img_footer1 {
            width: 20vw;
        }
    }
}

@include m.tablet {
    .redes_footer1 {
        .img_footer1 {
            width: 15vw;
        }
    }
}

@include m.laptop {
    .redes_footer1 {
        .img_footer1 {
            width: 12vw;
        }
    }
}