@use "../utilities/variables" as v;
@use "../utilities/mixings" as m;

main {
    .subtitle_contact1 {
        @include m.text(#ffffff, 300, 3.3rem, flex, center, underline v.$color3);
        font-family: v.$fuente1, sans-serif;
        padding: 20px;
    }

    .contact_form1 {
        @include m.text(#ffffff, 300, 1.8rem, flex, center, none);
        font-family: v.$fuente1, sans-serif;
        @extend %box;
        border-radius: 80px;
        background-color: v.$color2;
    }

    .comment_contact1 {
        @include m.text(#ffffff, 300, 1.8rem, grid, center, none);
        font-family: v.$fuente1, sans-serif;
        background-color: v.$color2;
        @extend %box;

        .box_contact1 {
            width: 60vw;
            height: auto;
        }

        .button_contact1 {
            font-size: 1.4rem;
            border-radius: 50px;
            transition: transform 0.4s ease;
            text-transform: uppercase;
            width: 10vw;
            justify-self: end;
            cursor: pointer;

            &:hover {
                background-color: v.$color3;
                transform: scale(1.05);
            }
        }
    }

    .text_contact3 {
        @include m.text(#ffffff, 300, 2rem, flex, center, underline v.$color3);
        font-family: v.$fuente1, sans-serif;
        @extend %box;
        padding: 15px;
        background-color: v.$color2;
    }

    .box_contact2 {
        @include m.text(#ffffff, 300, 1.8rem, flex, center, none);
        font-family: v.$fuente1, sans-serif;
        padding: 15px;
        gap: 15px;


        .img_contact1 {
            width: 10vw;
            border-radius: 30px;
            cursor: pointer;
            transition: transform 0.4s ease;

            &:hover {
                transition-duration: 200ms;
                transform: scale(1.06);
            }
        }   
    }
}