@use "../utilities/variables" as v;

main {
    .subtitle_contact1 {
        color: #ffffff;
        font-family: v.$fuente1, sans-serif;
        font-weight: 300;
        font-size: 3.3rem;
        display: flex;
        justify-content: center;
        padding: 20px;
        text-decoration: underline v.$color3;
    }

    .contact_form1 {
        color: #ffffff;
        font-family: v.$fuente1, sans-serif;
        font-weight: 300;
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        background-color: v.$color2;
        padding: 35px;
        gap: 15px;
        margin: 40px;
        border-radius: 4px;
    }

    .comment_contact1 {
        color: #ffffff;
        background-color: v.$color2;
        font-family: v.$fuente1, sans-serif;
        font-weight: 300;
        font-size: 1.8rem;
        display: grid;
        justify-content: center;
        padding: 35px;
        gap: 15px;
        margin: 40px;
        border-radius: 4px;

        .box_contact1 {
            width: 60vw;
            height: auto;
        }

        .button_contact1 {
            font-size: 1.4rem;
            border-radius: 50px;
            transition: transform 0.4s ease;
            text-transform: uppercase;
            width: 10vw;
            justify-self: end;
            cursor: pointer;

            &:hover {
                background-color: v.$color3;
                transform: scale(1.05);
            }
        }
    }

    .text_contact3 {
        color: #ffffff;
        font-family: v.$fuente1, sans-serif;
        font-weight: 300;
        font-size: 2rem;
        justify-content: center;
        display: flex;
        padding: 15px;
        gap: 15px;
        text-decoration: underline v.$color3;
        background-color: v.$color2;
        padding: 35px;
        margin: 40px;
        border-radius: 4px;
    }

    .box_contact2 {
        color: #ffffff;
        font-family: v.$fuente1, sans-serif;
        font-weight: 300;
        font-size: 1.8rem;
        justify-content: center;
        display: flex;
        padding: 15px;
        gap: 15px;


        .img_contact1 {
            font-size: 3rem;
            width: 10vw;
            border-radius: 30px;
            color: #ffffff;
            ;
            cursor: pointer;
            transition: transform 0.4s ease;

            &:hover {
                transition-duration: 200ms;
                transform: scale(1.06);
            }
        }

    }
}