@use "../utilities/variables" as v;
@use "../utilities/mixings" as m;

main {
    .subtitle_history1 {
        @include m.text(#ffffff, 300, 3.3rem, flex, center, underline v.$color3);
        font-family: v.$fuente1, sans-serif;
        padding: 20px;
    }

    .history_div1 {
        @include m.text(#ffffff, 300, 1.8rem, flex, center, none);
        flex-direction: row-reverse;
        align-items: center;
        @extend %box2;

        .img_history1 {
            @extend %img-h;
        }

        .text_history1 {
            font-size: 2.3rem;
            line-height: 1.3;
        }
    }

    .history_div2 {
        @include m.text(#ffffff, 300, 1.8rem, flex, center, none);
        align-items: center;
        @extend %box2;

        .img_history2 {
            @extend %img-h;
        }

        .text_history2 {
            font-size: 2.3rem;
            line-height: 1.3;
        }
    }

    .history_div3 {
        @include m.text(#ffffff, 300, 1.8rem, flex, center, none);
        flex-direction: row-reverse;
        align-items: center;
        @extend %box2;

        .img_history3 {
            @extend %img-h;
        }

        .text_history3 {
            font-size: 2.3rem;
            line-height: 1.3;
        }
    }

    .history_div4 {
        @include m.text(#ffffff, 300, 1.8rem, flex, center, none);
        align-items: center;
        @extend %box2;

        .img_history4 {
            @extend %img-h;
        }

        .text_history4 {
            font-size: 2.3rem;
            line-height: 1.3;
        }
    }

    .history_div5 {
        @include m.text(#ffffff, 300, 1.8rem, flex, center, none);
        flex-direction: row-reverse;
        align-items: center;
        @extend %box2;

        .img_history5 {
            @extend %img-h;
        }

        .text_history5 {
            font-size: 2.3rem;
            line-height: 1.3;
        }
    }
}