@use "../utilities/variables" as v;
@use "../utilities/mixings" as m;

body {
    background-color: v.$color1;
}

main {
    h1 {
        @include m.text(#ffffff, 300, 3.3rem, flex, center, underline v.$color3);
        font-family: v.$fuente1, sans-serif;
        padding: 20px;
    }

    .img_container1 {
        display: flex;
        justify-content: center;
        align-items: center;

        .img_body1 {
            height: 90vh;
            width: 75vw;
            border-radius: 8px;
        }
    }

    .theme_subtitle_body1 {
        @include m.text(#ffffff, 300, 3rem, flex, center, none);
        font-family: v.$fuente1, sans-serif;
        color: v.$color3;
        flex-direction: row;
        background-color: v.$color2;
        padding: 40px;
        margin: 50px;
        border: 40px;
    }

    .section1 {
        background-color: v.$color2;
        padding: 60px;
        margin: 30px;

        .img_container2 {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 20px;

            .img_body2 {
                width: 30vw;
                height: auto;
                border-radius: 8px;
            }

            .info_section1 {
                color: #ffffff;
                font-family: v.$fuente1, sans-serif;
                font-weight: 500;
                font-size: 2rem;
                max-width: 762px;
                padding-left: 40px;
                padding-top: 5px;
                padding-right: 40px;
                background-color: v.$color1;
                border-radius: 15px;

                .subtitle_body1 {
                    font-family: v.$fuente1, sans-serif;
                    font-weight: 500;
                    font-size: 4rem;
                    text-decoration: underline;
                    color: #bb1b1b;
                }
            }
        }
    }

    @include m.mobile {
        h1 {
            @include m.text(#ffffff, 300, 2rem, flex, center, underline v.$color3);
            width: 90vw;
            width: 100%;
        }

        .img_container1 {
            display: grid;
            justify-content: center;
            align-items: center;

            .img_body1 {
                height: 50vh;
                width: 95vw;
                border-radius: 8px;
            }
        }

        .theme_subtitle_body1 {
            font-size: 1.5rem;
            padding: 10px;
            margin: 20px;
            border: 10px;
        }

        .section1 {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0;
            padding-top: 0;

            .img_container2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 95vw;
                gap: 20px;

                .img_body2 {
                    height: 60vh;
                    width: 95vw;
                }

                .info_section1 {
                    font-size: 1.5rem;
                    padding: 10px;
                    margin: 0px;

                    .subtitle_body1 {
                        font-size: 2.5rem;
                        width: 100%;
                    }
                }
            }
        }
    }

    @include m.tablet {
        .img_container1 {
            display: grid;
            justify-content: center;
            align-items: center;

            .img_body1 {
                height: 60vh;
                width: 95vw;
                border-radius: 8px;
            }
        }

        .theme_subtitle_body1 {
            font-size: 3rem;
            padding: 10px;
            margin: 20px;
            border: 10px;
        }

        .section1 {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0;
            padding-top: 0;

            .img_container2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 95vw;
                gap: 20px;

                .img_body2 {
                    height: 90vh;
                    width: 85vw;
                }

                .info_section1 {
                    font-size: 2rem;
                    padding: 10px;
                    margin: 0px;

                    .subtitle_body1 {
                        font-size: 4rem;
                        width: 100%;
                    }
                }
            }
        }
    }

    @include m.laptop {
        .img_container1 {
            display: grid;
            justify-content: center;
            align-items: center;

            .img_body1 {
                height: 60vh;
                width: 75vw;
                border-radius: 8px;
            }
        }

        .theme_subtitle_body1 {
            font-size: 3rem;
            padding: 10px;
            margin: 20px;
            border: 10px;
        }

        .section1 {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0;
            padding-top: 0;

            .img_container2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 95vw;
                gap: 20px;

                .img_body2 {
                    height: 75vh;
                    width: 45vw;
                }

                .info_section1 {
                    font-size: 2rem;
                    padding: 10px;
                    margin: 0px;

                    .subtitle_body1 {
                        font-size: 4rem;
                        width: 100%;
                    }
                }
            }
        }
    }
}